* {
    margin: auto;
}

html {
    max-width: 800px;
    background-color: skyblue;
 }

 body * .error {
     color: red;
 }

 body * {
    color: whitesmoke;
    background-color: gray; 
    border-radius: 15px;
 }

 h1 {
     text-decoration: underline;
 }

 table {
     margin-top: 35px;
 }

.login {
    margin-top: 50px;    
    display: flex;        
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.login label {
    display: flex;
    flex-direction: column;
}

.createLogin {
    margin-top: 50px;    
    display: flex;        
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.createLogin label {
    display: flex;
    flex-direction: column;
}

.GroupSearch {
    margin-top: 50px;    
    display: flex;        
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.GroupSelect {
    margin-top: 50px;    
    display: flex;        
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.TasksView {
    margin-top: 50px;    
    display: flex;        
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.TasksView td {
    border: solid;
    border-color: white;
    border-width: 1px;
}

.TasksView table {
    border-spacing: 10px;
}

label {
    margin: 5px;
    padding: 5px;
}

button {
    margin: 5px;
}