<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Shipping Results</title>
</head>
<body>
    <h1>Shipping Costs</h1>
    <p>Ship Type: <%= type %></p>
    <p>Cost: $<%= cost.toFixed(2) %></p>
    <p>Weight: <%= weight %> oz.</p>
</body>
</html>